header{
    color: #866d4b;
    text-align: right;
}
body{
    background-color: black;
    color: #866d4b;

}
h1{
    color: #866d4b;
    text-align: center;
}
ul{
    color: #866d4b;
}
li{
    color: #866d4b;
}
img{
    size: 10px;
}
div{
    background-color: blacks
}